* {
    margin: 0;
    padding: 0;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;
}

#chat-box {
    height: calc(100vh - 10rem);
    overflow-y: scroll;
}